body {
	background-image: url(https://wallpapercave.com/wp/wc1696786.jpg);
	background-size: 1350px;
}

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

}

h1 {color: grey;
font-size: 350%;
font-family: fantasy;
border-bottom: 2PX solid grey;
border-right: 2px solid grey;
border-left: 2px solid grey;
width: 650px;
text-align: center;
box-shadow: 4px 4px 4px 4px;
	border-bottom: 3px solid purple ;
  background-color: white;
	font-family: "Times New Roman", Times, serif;
}


h5 {
	color: green;
	font-size: 50px;
	font-family: "Times New Roman", Times, serif;
	background-image: url(blue.jpg); 
	border-bottom: 2PX solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
	background-image: url(https://i.pinimg.com/originals/5f/54/87/5f5487d8d519b9318386e08ec5aa25ee.jpg);
}

img{
	animation: backwards;
	width: 250PX;
	height: 200PX;
	margin: 10PX;
	transition: all 1s;
	page-break-inside: center;



